<!DOCTYPE html>
<html>
<head>
    <!--Input error page used to alert the user to missing information from the web form.-->
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Input Error</h1>
        <h2>One or more answers were left blank. Please answer each question to receive a quote.</h2>
    </hgroup>
</body>
</html>