<!DOCTYPE html>
<html>
<head>
    <!--Year error page. Used to alert the user to the fact that they either somehow have a car made before Henry Ford invented modern automobiles,
        or that they are a time traveler with a car from the future, which we can't reasonably quote for insurance.-->
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Car Age Error</h1>
        <h2>There was a problem with the listed age of your car. Please enter a valid vehicle year.</h2>
    </hgroup>
</body>
</html>